<nav class="navbar fixed-bottom navbar-light bg-white border-top shadow-sm">
    <div class="container justify-content-center">
        <a class="nav-link" href="#encomendas"><i class="fa-solid fa-box"></i></a>
        <a class="nav-link" href="#reservas"><i class="fa-solid fa-calendar-check"></i></a>
        <a class="nav-link" href="#ocorrencias"><i class="fa-solid fa-exclamation-triangle"></i></a>
        <a class="nav-link" href="#admin"><i class="fa-solid fa-user-shield"></i></a>
    </div>
</nav>