<div class="sidebar-menu">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="#encomendas"><i class="fa-solid fa-box"></i> Encomendas</a></li>
        <li class="nav-item"><a class="nav-link" href="#reservas"><i class="fa-solid fa-calendar-check"></i> Reservas</a></li>
        <li class="nav-item"><a class="nav-link" href="#ocorrencias"><i class="fa-solid fa-exclamation-triangle"></i> Ocorrências</a></li>
        <li class="nav-item"><a class="nav-link" href="#votacoes"><i class="fa-solid fa-vote-yea"></i> Votações</a></li>
        <li class="nav-item"><a class="nav-link" href="#achados-perdidos"><i class="fa-solid fa-search"></i> Achados e Perdidos</a></li>
        <li class="nav-item"><a class="nav-link" href="#visitantes"><i class="fa-solid fa-users"></i> Visitantes</a></li>
        <li class="nav-item"><a class="nav-link" href="#admin"><i class="fa-solid fa-user-shield"></i> Administração</a></li>
    </ul>
</div>